.cart {
  position: absolute;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-y: scroll;
  scrollbar-width: 0px;
  top: 0;
  bottom: 0;
  left: 0;
}

.cartContainer {
  height: 100%;
  width: 100%;
  padding: 150px;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 50px 0;
  border-bottom: 1px solid black;
}

.total {
  width: 100%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding: 30px;
  position: relative;
}

.checkout {
  font-size: 1.3rem;
  border: none;
  position: absolute;
  top: 100%;
  padding: 20px;
  background-color: green;
  color: white;
  box-shadow: 1px 1px 20px green;
  border-radius: 15px;
  transition: 0.2s ease all;
}
.checkout:hover {
  cursor: pointer;
  background-color: lightgreen;
  color: black;
  box-shadow: 0px 0px 10px green;
}
.total > div {
  font-size: large;
  padding-bottom: 20px;
}
.empty {
  width: 100%;
  display: flex;
  justify-content: center;
}
